.glow-input {
  background: transparent;
  border: 2px solid #00ffe1;
  color: #00ffe1;
  padding: 10px;
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #00ffe1, 0 0 20px #00ffe1;
}

.glow-input::placeholder {
  color: #aaa;
}


@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
    padding: 0 20px;
  }
  .btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
  .logo {
    height: 40px;
    top: 10px;
    left: 15px;
  }
}
